<div class="panel panel-default">
	<div class="panel-heading">About This Project</div>
	<div class="panel-body">
		<p>The hope of this project is it will be the start of a much bigger and longer-lasting experiment.</p>
		<p>The scope of this project in particular is simply building a live website, however expect things to change significantly, and soon hopefully. If you would like to keep informed about the development of this and other projects, add your email below!<p>
	</div>
</div>
<div class="container">
	<div class="input-group">
		<span class="input-group-addon">@</span>
		<input type="text" class="form-control" placeholder="Email">
		<span class="input-group-btn">
			<btn class="btn btn-default" type="button">Go!</button>
	</div>
</div>