<div class="jumbotron">
	<h1>Welcome to my app!</h1>
	<p>Click here to <%= link_to "Sign Up", about_path, class: 'btn btn-primary btn-lg' %> </p>
</div>
<p>Or instead, you can try using <%= link_to "this.","http://www.google.com", class: 'btn btn-primary btn-lg' %>