<div class="jumbotron">
	<h1 class="text-center">Welcome to my app!</h1>
	<p class="text-center">Click here to <%= link_to "Sign Up", about_path, class: 'btn btn-primary btn-lg' %> </p>
</div>
<div class="container">
	<div class="panel panel-default">
		<p class="text-center" class="lead">Or instead, you can try using <%= link_to "this.","http://www.google.com", class: 'btn btn-primary btn-lg' %></p>
	</div>
</div>
