<div class="container">
	<div class="media">
		<div class="pull-left" href="#">
			<img src="/images/IceCream.png" alt="Dave" class="img-thumbnail">
			<div class="media-body">
				<h4 class="media-heading">That's Me!</h4>
				<p>Sometimes financier, occasional tinkerer, lost but not forgetting. I enjoy all of the stereotypical things a man in his 20's living in Brooklyn should. When this is over, I'm going to write a book.</p>
			</div>
		</div>
	</div>
	<div class="media">
		<div class ="pull-left" href="#">
			<img src="/images/Anne.png" alt="Anne" class="img-thumbnail">
			<div class="media-body">
				<h4 class="media-heading">This is Anne!</h4>
				<p>She makes cakes, pastries, and trouble.<p>
			</div>
		</div>
	</div>

</div>



